<% layout("./layouts/boilerplate.ejs") %>
<body>
    <h3>Edit your task</h3>
    <form method="post" action="/todos/<%= todo._id %>?_method=PUT" >
        <input name="todos[title]" value="<%= todo.title %>" type="text">
        <br><br>
        <textarea name="todos[description]"><%= todo.description %></textarea>
        <br><br>
        <button>Edit</button>
    </form>
</body>
