<% layout("./layouts/boilerplate.ejs") %>
<body>
    <h3>Tasks :</h3>
    <ul>
        <li><%= todo.description %></li>
    </ul>
    <br>
    <a href="/todos/<%= todo._id %>/edit">Edit this Task</a>
    <br><br>
    <form method="post" action="/todos/<%= todo._id %>?_method=DELETE">
        <button>Delete this Task</button>
    </form>
</body>